* {
  box-sizing: border-box;
}
body {
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.mini {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
  background-image: url(../images/cat-cropped.jpg);
  background-size: contain;
  border-radius: 10%;
}
.final {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  top: 50vh;
  right: 50vh;
  width: 100px;
  height: 100px;
  //   background-image: url(../images/target-cropped.jpg);
  background-color: azure;
  background-size: contain;
  border: red 4px solid;
}
.middle {
  border: red 4px solid;
  width: 50px;
  height: 50px;
}
